
$bgColor : #9b2;
$headerColor : #252405;
$menuColor : #151515;
$textColor : #23c;

$menuFont : Garamond;
$headerFont : Garamond;
$textFont : Garamond;

$pizzaImgWidth : 200px;
$pizzaImgHeight : 200px ;

html{
    overflow-x: hidden;
}

body {
    background-color : $bgColor;

}

/*
        header panel
*/
.full-width {
    width: 100%;
}

.default-height{
    height: $pizzaImgHeight;
}

.menu-row {
    border-bottom : 2px solid black;
    .menu-col {
        padding: 0px 1px;
        font-family: $menuFont;
        a {
            font-size: 20px;
        }
    }
}

/*
        other common elements
*/
.header-block {
    margin: 20px 15px 0px 15px;
    font-family: $headerFont;
    color: $headerColor;
    h1 {
        font-weight: bold;
        font-size : 48px;
    }
    h2 {
        font-style: italic;
        font-size : 32px;
        margin: 0px 15px;
    }
}

/*
pizza pozition classes
*/
.pizza-catalog{
    width: 100%;
    padding: 0px;
    .catalog-row{
        margin: 10px;
        padding: 0px;
    }
}

.pizza-pozition{
    background-color : #ccc;
    margin: 10px 0px;
    padding: 0px;
    height: $pizzaImgHeight;
    .pizza-img {
        padding: 0px;
        width: $pizzaImgWidth;
        height: $pizzaImgHeight;
    }
}

.pizza-adding{
    form{
        padding: 20px;
        height: $pizzaImgHeight;
        input{
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
        }
    }
}

.pizza-text{
    color: $textColor;
    .default-height{
        height:$pizzaImgHeight - 36px;
    }
    .pizza-name{
        font-size: 24px;
    }
    .pizza-description{
        font-size: 16px;
        max-width: 200px;
    }
    .pizza-price{
        margin: 0px;
        font-size: 36px;
        height: 50px;
        text-align: center;
    }
}

.green-bordered{
    margin: 10px 0px;
    padding: 5px 10px;
    background-color :$bgColor - #151515;
    border: 3px solid $bgColor - #333;
    border-radius: 1em / 1em;
    input{
        width: 100%;
        margin: 5px 0px;
        background-color: #DDD080;
        border: 2px solid $bgColor - #333;
        padding: 2px 10px;
        border-radius: 9em / 9em;
        font-size: 120%;
        color: $textColor;
    }
    label{
        color: $textColor;
        font-size: 24px;

    }
    .invisible{
        color:$bgColor - #151515;
    }
}

.order-address{
    font-size: 32px;
}

.order-position-list{
    font-size: 12px;
    margin: 10px 0px;
    li {
        &.order-sum{
            font-size: 30px;
            list-style-type: none;
            margin-top: 15px; 
        }
    }
}

table {
    width:100%;
    color: $textColor;
    a,
    a:visited,
        a:focus,
        a:active {
        color: $textColor - #252500;
        text-decoration: none;
    }
    td {
        padding: 10px;
    }
}

.padding-20{
    padding: 20px;
}